<a href="https://colab.research.google.com/github/SurajDonthi/Python-practice-lists-functions/blob/master/Practice_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises on Lists, Tuples, Dictionaries, Loops and Conditonals

## 1. Write a Python program to construct the following pattern, using a nested for loop.

![image.png]()

In [0]:
# Your Code here

## 2. Write a Python program to find whether a given array of integers contains any duplicate element. Return true if any value appears at least twice in the said array and return false if every element is distinct.

In [0]:
# Your code here

## 3. Write a Python program to count the number of elements in a list within a specified range.

In [0]:
# Your code here

## 4. Write a Python program to find common items from two lists.

In [0]:
# Your code here

## 5. Write a Python program to split a list based on first character of word.

In [0]:
# Your code here

## 6. Write a Python program to remove key values pairs from a list of dictionaries.

In [0]:
# Your code here

## 7. Write a Python program to get the Fibonacci series between 0 to 50.

In [0]:
# Your code here

## 8. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

In [0]:
# Your code here

# 9. Print the pattern:
![Pattern](https://media.geeksforgeeks.org/wp-content/cdn-uploads/diamond.png)

In [0]:
# Your code here

## 10. Write a Python program to convert a string to a list.

In [0]:
# Your code here

***
# Thank you

---


***